# Ambiente virtual
.venv/
.venv-win/

# Arquivos de configuração local com senhas
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Cache do mypy e ruff
.mypy_cache/
.ruff_cache/

# Metadata gerado pelo pip install -e
*.egg-info/